*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

/*! shared style */

.display-flex{
  display: flex;
}

.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}

.text-primary{
  color: rgba(255, 144, 14, 1);
}

/* Dark 02 */
.text-gray{
  color: #424242;
}

/* Dark 03 */
.text-light-gray{
  color: #727272;
}

.btn-primary{
  background-color: rgba(255, 144, 14, 1);
  color: white;
  padding: 20px 25px;
  font-weight: 600;
  font-size: 1.25rem;
  border: none;
  border-radius: 8px;
}

main{
  max-width: 1440px;
  margin: 0 auto;
}

main > section{
  margin-top: 140px;
}

/*! header style */
/* navbar relative style */

.navbar{
  justify-content:space-between;
  padding: 20px 0;
  align-items: center;
}
.brand{
  font-weight: bold;
  font-size: 3rem;
}
.nav-item{
  list-style: none;
  margin-right: 30px;
}

.nav-link{
  text-decoration: none;
  font-weight: 500;
}

.navbar,.banner{
  max-width: 1440px;
  margin: 0 auto;
}

/* banner relative style */
.banner-content{
  max-width: 850px;
  margin: 50px auto;
  text-align: center;
}

.banner-title{
  font-size: 4rem;
  font-weight: bold;
}

.banner-description{
  margin: 33px 0;
}
.banner-image{
  width: 100%;
}

/*! teams and feature relative styles */

.teams{
  align-items: center;  
  gap: 76px;
}

.tems-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}
.our-feature{
  max-width: 520px;
  margin:0 auto;
}
.feature-description{
  margin: 24px 0;
}
.feature-title{
  font-size: 2.8rem;
  font-weight: 700;
}
#quick-list{
  font-weight: 500;
}
.feature{
  color:rgba(255, 144, 14, 1) ;
}
/*! Responsive style */

@media screen and (max-width:576px) {

  /* header section responsive */
    .navbar,.nav-links,.teams{
      flex-direction: column;
    }  
    .nav-item,.brand {
      margin-bottom: 15px;
      text-align: center;
    }

    /* teams rersponsive */
    .tems-img-container{
      grid-template-columns: repeat(1,1fr);
    }
    .our-feature{
      text-align: center;
      margin: 0 20px;
    }
}