*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

/*! shared style */

.display-flex{
  display: flex;
}

.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}

.text-primary{
  color: rgba(255, 144, 14, 1);
}

/* Dark 02 */
.text-gray{
  color: #424242;
}

/* Dark 03 */
.text-light-gray{
  color: #727272;
}

.btn-primary{
  background-color: rgba(255, 144, 14, 1);
  color: white;
  padding: 20px 25px;
  font-weight: 600;
  font-size: 1.25rem;
  border: none;
  border-radius: 8px;
}

main{
  max-width: 1440px;
  margin: 0 auto;
}

main > section{
  margin-top: 140px;
}

/*! header style */
/* navbar relative style */

.navbar{
  justify-content:space-between;
  padding: 20px 0;
  align-items: center;
}
.brand{
  font-weight: bold;
  font-size: 3rem;
}
.nav-item{
  list-style: none;
  margin-right: 30px;
}

.nav-link{
  text-decoration: none;
  font-weight: 500;
}

.navbar,.banner{
  max-width: 1440px;
  margin: 0 auto;
}

/* banner relative style */
.banner-content{
  max-width: 850px;
  margin: 50px auto;
  text-align: center;
}

.banner-title{
  font-size: 4rem;
  font-weight: bold;
}

.banner-description{
  margin: 33px 0;
}
.banner-image{
  width: 100%;
}

/*! teams and feature relative styles */

.teams{
  align-items: center;  
  gap: 76px;
}

.tems-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}
.our-feature{
  max-width: 520px;
  margin:0 auto;
}
.feature-description{
  margin: 24px 0;
}
.feature-title{
  font-size: 2.8rem;
  font-weight: 700;
}
#quick-list{
  font-weight: 500;
}
.feature{
  color:rgba(255, 144, 14, 1) ;
}

/*! Some fact related style  */

.facts-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
}
.fact-card{
  border:1px solid rgba(255, 144, 14, 1);
  width: 240px;
  height: 240px;
  border-radius: 8px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name{
  font-size: 1.2rem;
  font-weight: 600;
}

.fact-description{
  max-width: 542px;
  margin-top: 24px;
  margin-bottom: 50px;
}

/*! Sponsors related styles */

.sponsor-info{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}
.sponsors-description{
  margin-top: 24px;
}

.sponsors-companes{
  display: grid;
  grid-template-columns: repeat(5,1fr);
}
.sponsors-companes img{
  filter: grayscale(100%);
}
/*! Feature will section related styles */
.features{
  align-items: center;
  gap: 100px;
}
#feature-section-title{
  border-left: 5px solid rgba(255, 144, 14, 1);
  padding-left: 20px;
}
.feature-card {
  border-radius: 8px;
  padding:40px;
  margin-bottom: 20px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
}
.feature-card  .feature-title{
  font-weight: 600;
  font-size: 1.25rem;
}
.feature-will-description {
  margin: 30px 0;
}

#experience-badge{
  padding: 45px 42px;
  margin-left: -80px;
  margin-top: -150px;
}

#expreience-year{
  font-size: 4rem;
  font-weight: 700;
}



/**** Responsive style *****/

@media screen and (max-width:576px) {

  /* header section responsive */
    .navbar,.nav-links,.teams{
      flex-direction: column;
    }  
    .nav-item,.brand {
      margin-bottom: 15px;
      text-align: center;
    }

    /* teams rersponsive */
    .tems-img-container{
      grid-template-columns: repeat(1,1fr);
    }
    .our-feature{
      text-align: center;
      margin: 0 20px;
    }

    /* fact responsive part */
     .some-fact{
      text-align: center;
    }
    .facts-container{
      grid-template-columns: 1fr;
      gap: 20px;
    }

    /* sponsors companies responsive */
    .sponsors-companes{
      grid-template-columns: 1fr;
      justify-items: center;
      gap: 30px;
    }
   /* features will section */
  .features{
    flex-direction: column;
    margin: 0 auto;
  }
  .feature-will-description{
    text-align: center;
  }
   .features-architect img {
    width: 100%;
   }
   #experience-badge{
    margin-top: 20px;
    margin-left:20px ;
   }
}

/*! medium device relatives */

@media screen and (min-width:577px) and (max-width:994px) {
  .teams{
    flex-direction: column;
    text-align: center;
  }  

   .some-fact{
      text-align: center;
    }
    .facts-container{
      grid-template-columns: 1fr;
      gap: 20px;
      justify-items: center;
    }

      /* sponsors companies responsive */
    .sponsors-companes{
      grid-template-columns: 1fr;
      justify-items: center;
      gap: 30px;
    }

    /* features will section */
  .features{
    flex-direction: column;
    margin: 0 auto;
  }
  .feature-will-description{
    text-align: center;
  }
   .features-architect img {
    width: 100%;
   }
   #experience-badge{
    margin-top: 20px;
    margin-left:20px ;
   }
    
}